/*
Overview
*/

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #33353e;
}

.main-title {
    font-size: 3em;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.sis-color {
    background-color: #deb718 !important;
}

.soa-color {
    background-color: #c0392b !important;
}

.sob-color {
    background-color: #2980b9 !important;
}

.soe-color {
    background-color: #16a085 !important;
}

.sol-color {
    background-color: #bdc3c7 !important;
}

.soss-color {
    background-color: #27ae60 !important;
}

.sis-color2 {
    background-color: #f1c40f !important;
}

.soa-color2 {
    background-color: #e74c3c !important;
}

.sob-color2 {
    background-color: #3498db !important;
}

.soe-color2 {
    background-color: #1abc9c !important;
}

.sol-color2 {
    background-color: #ecf0f1 !important;
}

.soss-color2 {
    background-color: #2ecc71 !important;
}


/*
Card
*/

.card-contents {
    text-align: center;
    position: relative;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 8%;
    background-color: #3b3d46;
    height: 100%;
}

.card-title {
    padding: 15px;
}

.card-body {
    position: relative;
    padding: 5px;
}

.card-text {
    font-size: 4em;
    font-weight: bold;
}

.panel-contents {}

.title {
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}

.subtitle {
    font-size: 1.5em;
    float: left;
}
