@font-face {
    font-family: Bebas Neue;
    src: url("BebasNeue Bold.otf") format("opentype");
}


/*
Overview
*/

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #33353e;
    height: 100vh;
    overflow: hidden;
}

.main-title {
    font-size: 3em;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.container {
    margin-top: 15px;
    width: 85vw;
}

.sis-color {
    background-color: #deb718 !important;
}

.soa-color {
    background-color: #c0392b !important;
}

.sob-color {
    background-color: #2980b9 !important;
}

.soe-color {
    background-color: #16a085 !important;
}

.sol-color {
    background-color: #bdc3c7 !important;
}

.soss-color {
    background-color: #27ae60 !important;
}

.sis-color2 {
    background-color: #f1c40f !important;
}

.soa-color2 {
    background-color: #e74c3c !important;
}

.sob-color2 {
    background-color: #3498db !important;
}

.soe-color2 {
    background-color: #1abc9c !important;
}

.sol-color2 {
    background-color: #ecf0f1 !important;
}

.soss-color2 {
    background-color: #2ecc71 !important;
}


/*
Card
*/

.panel-title {
    font-size: 2.5em;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}

.panel-contents {
    background-color: #3b3d46;
    margin: 15px;
    height: 100%;
    padding: 15px;
}

.card-contents {
    text-align: center;
    position: relative;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #3b3d46;
    height: 100%;
}

.card-title {
    padding: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
}

.card-body {
    position: relative;
    padding: 5px;
}

.card-text {
    font-family: 'Bebas Neue', serif;
    font-size: 5em;
    font-weight: bold;
}

.card-text2 {
    font-size: 3em;
    font-weight: bold;
}

.title {
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}

.subtitle {
    font-size: 1.5em;
    float: left;
}

.gender-txt {
    color: white;
    font-size: 7em;
    font-family: 'Bebas Neue', serif;
}

.gender-txt2 {
    color: white;
    font-size: 3em;
    font-family: 'Bebas Neue', serif;
}

.gender-txt3 {
    color: white;
    font-size: 3em;
    font-family: 'Bebas Neue', serif;
}

.gender-values {
    line-height: 3em;
    margin-top: -60%;
    margin-left: 10%;
    margin-right: 10%;
}

#gender-panel {
    height: 28vh;
}

.experience-card {
    width: 21.5%;
    padding: 15px;
    height: 110%;
}

.experience-img {
    height: 150px;
    margin: 0px auto;
}

.experience-text {
    font-family: 'Bebas Neue', serif;
    font-size: 6em;
    font-weight: bold;
    color: #fff;
    line-height: 1;
}

.exp-title {
    padding: 15px;
    text-align: center;
}

#year-panel {
    height: 100%;
    width: 47%;
}

#reg-panel {
    height: 100%;
    width: 47%;
}

#canvas-panel {
    height: 42vh;
}

@media only screen and (max-width: 450px) {
    body {
        overflow: auto !important;
    }
    .card-contents {
        margin-bottom: 15px !important;
    }
    .container {
        width: 100vw !important;
    }
    #gender-panel {
        height: 100%;
    }
    .gender-txt3 {
        display: none;
    }
    .panel-contents {
        padding-bottom: 50px !important;
    }
    .experience-card {
        width: 100%;
    }
    .year-panel {
        width: 100% !important;
    }
    #reg-panel>.card-title>span {
        font-size: 1.5em !important;
    }
    #canvas-panel {
        height: 67vh !important;
        margin-top: 0px !important;
    }
    #year-panel {
        width: auto !important;
    }
    #reg-panel {
        width: auto !important;
    }
}

@media only screen and (min-width: 451px) and (max-width: 768px) {
    body {
        overflow: auto !important;
    }
    .card-contents {
        margin-bottom: 15px !important;
    }
    .container {
        width: 100vw !important;
    }
    #gender-panel {
        height: 100%;
    }
    .gender-txt3 {
        display: none;
    }
    .panel-contents {
        padding-bottom: 50px !important;
    }
    .experience-card {
        width: 100%;
    }
    .year-panel {
        width: 100% !important;
    }
    #reg-panel>.card-title>span {
        font-size: 1.5em !important;
    }
    #canvas-panel {
        height: 48vh !important;
        margin-top: 0px !important;
    }
    #gender-panel>.panel-contents {
        height: 38vh !important;
    }
    #year-panel {
        width: auto !important;
    }
    #reg-panel {
        width: auto !important;
    }
    #gender-div {
        width: 50% !important;
        float: left;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        overflow: auto !important;
    }
    .title {
        font-size: 1.2em !important;
    }
    .card-contents {
        margin-bottom: 15px !important;
    }
    .card-text2 {
        font-size: 2em !important;
    }
    .container {
        width: 100vw !important;
    }
    .gender-txt3 {
        display: none;
    }
    .gender-txt {
        font-size: 4em !important;
    }
    .gender-txt2 {
        font-size: 2em !important;
    }
    #gender-div {
        padding: 0px !important;
    }
    .panel-title {
        font-size: 2em !important;
    }
    .experience-card {
        width: 21%;
    }
    #gender-div {
        width: 50% !important;
    }
    #gender-panel {
        height: 17vh !important;
    }
    .experience-img {
        height: 70px;
    }
    .panel-contents {
        padding-bottom: 50px !important;
    }
    #year-panel,
    #reg-panel {
        width: 46.5% !important;
    }
    #reg-panel>.card-title>span {
        font-size: 1.5em !important;
    }
    #canvas-panel {
        height: 36vh !important;
        margin-top: 15px !important;
    }
}


@media screen and (min-width: 1025px) and (max-width: 1366px)  {
    .experience-img {
        height: 100px !important;
    }
    #year-panel {
        width: 46% !important;
    }
    #reg-panel {
        width: 46% !important;
    }
}


